@import '../../../../App.css';

.custom__css input {
    background: #ffffff;
    border: 1px solid #bdbdbd;

    border-radius: 3px;
}

.custom__css select {
    border: 1px solid #bdbdbd;

    border-radius: 3px;
    color: #000000;
}

.custom__css option {
    color: #000000;
}

.custom__css label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.custom__css textarea {
    background: #ffffff;
    border: 1px solid #bdbdbd;

    border-radius: 3px;
}
